* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --HeaderBackgroundColor: rgb(82, 86, 89); 
  }
  .HeaderBackgroundColor{
    background: var(--HeaderBackgroundColor);
  }