* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --HeaderBackgroundColor: rgb(82, 86, 89);
    --LeftBackgroundColor: #F0EAE4;
    --RightBackgroundColor: #FFFFFF;
  }
  .HeaderBackgroundColor{
    background: var(--HeaderBackgroundColor);
  }
  .LeftBackgroundColor{
    background: var(--LeftBackgroundColor);
  }
  .RightBackgroundColor{
    background: var(--RightBackgroundColor);
  }
  .round{
    background: rgb(82, 86, 89);
    color: #FFFFFF;
  }
  .summary{
    text-align: justify;
  }
  .vl {
    border-left: 1px solid rgb(82, 86, 89);
    height: 100px;
  }